extends layout

block content
    //- need to check if a data attribute exists, and if so, use it to set the
    //- values of the respective fields. If it doesn’t exist, we’ll initialize it to an empty
    //- object, so that the form will still render correctly when you load it for the first time. 
    -data = data || {}

    //- need to check for an errors property, and if it’s present, loop over any errors and display them in a list.
    if errors
        ul
            for error in errors
                li= error.msg

    form(action="." method="POST")
        label(for="name") Name: 
        input(type="text" id="name" name="name" value=data.name) 

        label(for="email") Email: 
        input(type="email" id="email" name="email" value=data.email)

        input(type="submit" value="Submit")
