extends layout

block content
    head
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
        link(rel='StyleSheet' href='css/styles.css' type='text/css')

        meta(charset='utf-8')
    body
        header
            nav
                ul
                    li
                        a(href='/') Home
                    li |
                    li
                        a(href='#') Blog
                    a.register(href='/register') Register
        main
            section#intro-text
                span Simple Kitchen
                h3
                    | Simple &amp; Comforting 
                    br
                    |             Recipes All Year Round
                p Pan-seared chicken, Grill shrimp, mac &amp; cheese&mdash;need we say more?
                //- button.submit-button(onclick='/recipes') View Recipes
                form(action="./recipes" method="GET")
                    button(type="submit" value="View Recipes") View Recipes

            section#intro-image
                img(src='images/louisiana-barbecued-shrimp.webp' alt='Louisiana Barbecued Shrimp')
        footer
            | &copy; Copyright 2021